.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(202, 219, 246);
}

.box {

    height: 420px;
    width: 22%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 10px;
    border-radius: 10px;
}
.box a{
    color: rgb(41, 41, 41);
}
.box-img {
    height: 310px;
    background-size: cover;
    margin: 1rem 0px;
    border-radius: 10px;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: rgb(178, 176, 176);
}